<div class="pl-8 p-4 bg-blue-50">
  <div class="flex justify-between items-center mb-6 mt-4">
        <div>
          <h1 class="text-2xl font-bold">Customers List</h1>
          <p class="text-gray-500 text-sm">
            Manage administrator and their permission
          </p>
        </div>
        <div class="flex gap-3">
          <button class="flex items-center gap-2 border px-4 py-2 rounded-md text-white-700 bg-green-400 hover:bg-green-700">
            📄 Export List
          </button>
         <%#  %>
        </div>
      </div>
  <div class="w-[1477px] relative overflow-x-auto shadow-md sm:rounded-lg pr-5 mt-8">
    <table class="w-full text-sm text-left text-gray-600">
      <thead class="text-xs uppercase bg-gray-100 text-gray-700">
        <tr>
          <th scope="col" class="px-6 py-3">
            Id
          </th>
          <th scope="col" class="px-6 py-3">
            Full Name
          </th>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            Email
          </th>
          <th scope="col" class="px-6 py-3">
            Phone number
          </th>
          <th scope="col" class="px-6 py-3">
            Alternative number
          </th>
          <th scope="col" class="px-6 py-3">
            Aadhaar number
          </th>
          <th scope="col" class="px-6 py-3">
            Pan Card
          </th>
          <th scope="col" class="px-6 py-3">
            Date of birth
          </th>
          <th scope="col" class="px-6 py-3">
            Gender
          </th>
          
          <th scope="col" class="px-6 py-3">
            Full Address
          </th>
          <th scope="col" class="px-6 py-3">
            Pincode
          </th>
          <th scope="col" class="px-6 py-3">
            Bank name
          </th>
          <th scope="col" class="px-6 py-3">
            Account number
          </th>
          <th scope="col" class="px-6 py-3">
            Account holder name
          </th>
          <th scope="col" class="px-6 py-3">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @curstomers.each_with_index do |retailer, index| %>
        <tr class="bg-white border-b hover:bg-gray-50">
          <!-- Serial Number -->
          <th scope="row" class="px-6 py-4"><%= retailer.id %></th>
          <!-- User details -->
          <td class="px-6 py-4">
            <%= "#{retailer.first_name} #{retailer.last_name}" %>
          </td>
          <td class="px-6 py-4"><%= retailer.username %></td>
          <td class="px-6 py-4"><%= retailer.email %></td>
          <td class="px-6 py-4"><%= retailer.phone_number %></td>
          <td class="px-6 py-4"><%= retailer.alternative_number %></td>
          <td class="px-6 py-4"><%= retailer.aadhaar_number %></td>
          <td class="px-6 py-4"><%= retailer.pan_number %></td>
          <td class="px-6 py-4"><%= retailer.date_of_birth %></td>
          <td class="px-6 py-4"><%= retailer.gender %></td>
           <td class="px-6 py-4">
            <%= "#{retailer.address} #{retailer.state}" %>
          </td>
          <td class="px-6 py-4"><%= retailer.pincode %></td>
          <td class="px-6 py-4"><%= retailer.bank_name %></td>
          <td class="px-6 py-4"><%= retailer.account_number %></td>
          <td class="px-6 py-4"><%= retailer.account_holder_name %></td>
          <!-- Actions -->
          <td class="flex gap-3 px-6 py-4">
            <!-- Status Badge -->
            <%= button_to superadmin_customer_verify_status_path(id: retailer.id),
                        onclick: "return confirm('Are you sure you want to deactivate this retailer?');" do %>
              <p class="font-medium text-white font-bold hover:underline bg-green-500 py-1 px-2 rounded-lg cursor-pointer">
                Verify
              </p>
            <% end %>
            <%= button_to superadmin_customer_verify_status_path(id: retailer.id),
                        onclick: "return confirm('Are you sure you want to activate this retailer?');" do %>
              <p class="font-medium text-white font-bold hover:underline bg-red-500 py-1 px-2 rounded-lg cursor-pointer">
                Reject
              </p>
          <% end %>
            <!-- Edit Link -->
            <%= link_to "Edit", edit_superadmin_retailer_path(retailer),
                class: "font-medium text-blue-600 hover:underline bg-yellow-400 py-1 px-2 rounded-lg" %>

            <!-- Delete Button -->
            <%= button_to "Delete", 
            superadmin_retailer_path(retailer), 
            method: :delete, 
            data: { turbo_confirm: "Are you sure?" }, 
            class: "px-3 py-1 text-sm font-medium text-white bg-red-500 rounded-lg hover:bg-red-600 transition" %>

          </td>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
