<div class="p-6">
  <!-- Breadcrumb -->
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center bg-white border rounded-lg p-4 mb-6 shadow-sm gap-4">
    <div class="flex flex-col gap-3">
      <div>
        <span class="font-semibold">Super Admin</span> >
      </div>
      
    </div>
  </div>

  <!-- Form Card -->
  <div class="bg-white rounded-lg shadow-md p-8 max-w-3xl mx-auto">
    <h2 class="text-2xl font-semibold text-center mb-6">Add Service Form</h2>

      <%= form_with(model: [:superadmin, @service], local: true) do |form| %>
      <!-- First Name -->
      <div>
        <%= form.label :title, "Service Name", class: "block text-sm font-medium text-gray-700 mb-1" %>
        <%= form.text_field :title, placeholder: "Service name", class: "w-full border rounded-md p-2 focus:ring-2 focus:ring-blue-500" %>
      </div>

      <!-- Submit Button -->
      <div class="col-span-2 flex items-center justify-between mt-6">
        <%= link_to "Back to", superadmin_services_path, class: "text-sm text-blue-600 hover:underline" %>
        <%= form.submit "Submit", class: "px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 cursor-pointer" %>
      </div>

    <% end %>
  </div>
</div>
