<div class=" flex  flex-col bg-blue-50 h-full">
 <h2 class="flex items-center justify-center mt-10 text-2xl font-bold text-blue-500">Admin Onboard</h2>
<%= form_with model: @retailer, url: superadmin_admins_create_path, local: true do |form| %>
<div x-data="{ step: 1 }" class="mx-auto w-[1000px] bg-white shadow-lg rounded-lg p-6 border border-gray-200 mt-10">

  <!-- Step Indicators -->
  <div class="flex justify-between mb-6">
    <div :class="step === 1 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 1</div>
    <div :class="step === 2 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 2</div>
    <div :class="step === 3 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 3</div>
    <div :class="step === 4 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 4</div>
    <div :class="step === 5 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 5</div>
    <div :class="step === 6 ? 'text-indigo-600 font-bold' : 'text-gray-400'">Step 6</div>

  </div>

  <div x-show="step === 1">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Personal Information
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div> 
      <label class="block text-sm font-medium text-gray-700">
        First Name <span class="text-red-500">*</span>
      </label>
      <input type="text" name="user[first_name]" placeholder="Enter First Name"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200" />
    </div>

    <!-- Last Name -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Last Name <span class="text-red-500">*</span>
      </label>
      <input type="text" name="user[last_name]" placeholder="Enter Last Name"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200" />
    </div>

    <!-- Email -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Email Address <span class="text-red-500">*</span>
      </label>
      <div class="flex items-center mt-1 border border-gray-200 rounded-md shadow-sm">
        <span class="px-3 text-purple-500">  <i class='fa fa-envelope'></i></span>
        <input type="email" name="user[email]" placeholder="Enter Address"
          class="w-full focus:ring-0 text-sm p-3" />
      </div>
    </div>

    <!-- Phone Number -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Phone Number <span class="text-red-500">*</span>
      </label>
      <div class="flex items-center mt-1 border border-gray-200 rounded-md shadow-sm">
        <span class="px-3 text-purple-500"><i class='fa-solid fa-phone'></i></span>
        <input type="text" name="user[phone_number]" placeholder="Enter Alternate Phone No."
          class="w-full  focus:ring-0 text-sm p-3" />
      </div>
    </div>

    <!-- Alternate Phone -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Alternate Phone Number
      </label>
      <div class="flex items-center mt-1 border border-gray-200 rounded-md shadow-sm">
        <span class="px-3 text-purple-500"><i class='fa-solid fa-phone'></i></span>
        <input type="text" name="user[alternative_number]" placeholder="Enter Alternate Phone No."
          class="w-full  focus:ring-0 text-sm p-3" />
      </div>
    </div>

    <!-- Aadhar -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Aadhar Number <span class="text-red-500">*</span>
      </label>
      <input type="text" name="user[aadhaar_number]" placeholder="Enter Aadhar Number"
        class="mt-1 block w-full rounded-md border border-gray-200 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200" />
    </div>

    <!-- PAN -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        PAN Number <span class="text-red-500">*</span>
      </label>
      <input type="text" name="user[pan_card]" placeholder="Enter PAN Number"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200" />
    </div>

    <!-- Date of Birth -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Date of Birth <span class="text-red-500">*</span>
      </label>
      <div class="flex items-center mt-1 border border-gray-200 rounded-md shadow-sm">
        <input type="date" name="user[date_of_birth]" 
          class="w-full border-0 focus:ring-0 text-sm p-3" />
        <span class="px-3 text-gray-500"><i class='bx bx-calendar'></i></span>
      </div>
    </div>

    <!-- Gender -->
    <div>
      <label class="block text-sm font-medium text-gray-700">
        Gender
      </label>
      <select
        name="user[gender]"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200">
        <option>Select gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select>
     </div>
      <div>
      <label class="block text-sm font-medium text-gray-700">
        Role
      </label>
      <select
        name="user[role_id]"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200" required>
        <option>Select Role</option>
        <%Role.where(title: "admin").each do |role|%>
        <option value="<%=role.id%>"><%=role.title%></option>
        <%end%>
      </select>
     </div>

   </div>
    <!-- Next Button -->
    <div class="flex justify-end mt-6">
      <button @click="step = 2" type="button"
        class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer">
        Next →
      </button>
    </div>

  </div>

  <!-- STEP 2 -->
  <div x-show="step === 2">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Business Information
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


      <div>
        <label class="block text-sm font-medium text-gray-700">Business Name</label>
        <input type="text" name="user[business_name]" placeholder="Enter Street Address"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Business Ownership Type</label>
        <input type="text" name="user[business_owner_type]" placeholder="Enter City"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Business Nature Type</label>
        <input type="text" name="user[business_nature_type]" placeholder="Enter State"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Business Registration Number</label>
        <input type="text" name="user[business_registration_number]" placeholder="Enter Zip Code"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">GST Number</label>
        <input type="text" name="user[gst_number]" placeholder="Enter Zip Code"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">Domin Name</label>
        <input type="text" name="user[domain_name]" placeholder="Enter Domin Name"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
    </div>

    <!-- Prev & Submit Buttons -->
    <!-- Prev & Next Buttons for Step 2 -->
    <div class="flex justify-between mt-6">
      <button @click="step = 1" type="button"
        class="px-6 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 cursor-pointer">
        ← Back
      </button>
      <button @click="step = 3" type="button"
        class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer">
        Next →
      </button>
    </div>

  </div>

  <!-- STEP 3 -->
  <div x-show="step === 3">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Address Information
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


      <div>
        <label class="block text-sm font-medium text-gray-700">Address</label>
        <input type="text" name="user[address]" placeholder="Enter Street Address"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">City</label>
        <input type="text" name="user[city]" placeholder="Enter City"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">State</label>
        <input type="text" name="user[state]" placeholder="Enter State"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Pincode</label>
        <input type="text" name="user[pincode]" placeholder="Enter Zip Code"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
      <div class="md:col-span-2">
      <label class="block text-sm font-medium text-gray-700">
        Select State
      </label>
      <select
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200">
        <option>Andhra Pradesh</option>
        <option>UP</option>
        <option>Delhi</option>
        <option>Mp</option>
      </select>
    </div>

   </div>
    <!-- Prev & Submit Buttons -->
    <div class="flex justify-between mt-6">
       <button @click="step = 2" type="button"
        class="px-6 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">
        ← Back
      </button>
       <button @click="step = 4" type="button"
        class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer">
        Next →
      </button>
    </div>
  </div>

   <!-- STEP 4 -->
  <div x-show="step === 4">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Account Information
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <div>
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" name="user[username]" placeholder="Enter Street Address"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Password</label>
        <input type="text" name="user[password]" placeholder="Enter City"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Confirm Password</label>
        <input type="text" name="user[confirm_password]" placeholder="Enter State"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div class="">
      <label class="block text-sm font-medium text-gray-700">
        Scheme
      </label>
     <select
          name="user[scheme_id]"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200">

          <option value="">Select Scheme</option>
          <% Scheme.all.each do |sch| %>
            <option value="<%= sch.id %>"><%= sch.scheme_name %></option>
          <% end %>
        </select>

     </div>
       <div>
        <label class="block text-sm font-medium text-gray-700">Referred By</label>
        <input type="text" name="user[referred_by]" placeholder="Enter Zip Code"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
    </div>
    <!-- Prev & Submit Buttons -->
    <div class="flex justify-between mt-6">
      <button @click="step = 3" type="button"
        class="px-6 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">
        ← Back
      </button>
      <button @click="step = 5" type="button"
        class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer">
        Next →
      </button>
    </div>
  </div>

  <!-- STEP 5 -->
  <div x-show="step === 5">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Bank Details & Information
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


      <div>
        <label class="block text-sm font-medium text-gray-700">Bank Name</label>
        <input type="text" name="user[bank_name]" placeholder="Enter Street Address"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Account Number</label>
        <input type="text" name="user[account_number]" placeholder="Enter City"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">IFSC Code</label>
        <input type="text" name="user[ifsc_code]" placeholder="Enter State"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">Account Holder Name</label>
        <input type="text" name="user[account_holder_name]" placeholder="Enter Zip Code"
          class="mt-1 w-full rounded-md border border-gray-300 p-3 text-sm shadow-sm" />
      </div>
      
      <div class="md:col-span-2">
      <label class="block text-sm font-medium text-gray-700">
        Select State
      </label>
      <select
        name="account_holder_name"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-sm p-3 border border-gray-200">
        <option>Andhra Pradesh</option>
        <option>UP</option>
        <option>Delhi</option>
        <option>Mp</option>
      </select>
    </div>
    </div>
    <!-- Prev & Submit Buttons -->
    <div class="flex justify-between mt-6">
      <button @click="step = 4" type="button"
        class="px-6 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 cursor-pointer">
        ← Back
      </button>
      <button @click="step = 6" type="button"
        class="px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer">
        Next →
      </button>

    </div>
  </div>

    <!-- STEP 5 -->
  <div x-show="step === 6">
    <h2 class="flex items-center text-lg font-semibold text-indigo-600 mb-6">
      Service
    </h2>

    <div class="">

       <div class="">
      <% Service.all.each do |service| %>
        <div class="flex items-center space-x-2">
          <%= check_box_tag "user[service_ids][]", service.id, false,
            id: "service_#{service.id}",
            class: "w-4 h-4",
            data: { action: "retailer#toggle", retailer_target: "checkbox" } %>
          <%= label_tag "service_#{service.id}", service.title.capitalize, class: "text-gray-600 font-medium" %>
        </div>
      <% end %>
    </div>
    
  
    </div>
    <!-- Prev & Submit Buttons -->
    <div class="flex justify-between mt-6">
      <button @click="step = 4" type="button"
        class="px-6 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 cursor-pointer">
        ← Back
      </button>
      <%= form.submit "Submit", class: "px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 cursor-pointer" %>
    </div>
  </div>
  </div>

  <%end%>



</div>

<!-- Alpine.js (CDN) -->
<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>








</div>