<div class="mt-6 px-8">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-2xl font-bold text-gray-800">Roles</h1>
    </div>
    <div>
      <!-- Link to new role page -->
      <%= link_to "+ Add Role", new_superadmin_role_path, class: "px-4 py-2 bg-yellow-600 text-white font-medium rounded-lg hover:bg-yellow-700 transition" %>
    </div>
  </div>

  <!-- Table Container -->
  <div class="overflow-x-auto bg-white shadow-lg rounded-xl border border-gray-200">
    <table class="w-full text-sm text-left text-gray-600">
      <thead class="text-xs uppercase bg-gray-200 text-gray-700 border-b">
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr class="bg-white border-b hover:bg-gray-50 transition">
            <td class="px-6 py-4 font-medium text-gray-900"><%= role.id %></td>
            <td class="px-6 py-4 text-gray-800"><%= role.title %></td>
        
            <td class="flex justify-center items-center space-x-2 mt-3">
              <%= link_to "Edit", edit_superadmin_role_path(role), class: " px-3 py-1 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 transition inline-block" %>
              <%= button_to "Delete", superadmin_role_path(role), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "px-3 py-1 text-sm font-medium text-white bg-red-500 rounded-lg hover:bg-red-600 transition inline-block" %>
            </div>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
