  <!DOCTYPE html>
  <html>
    <head>
      <title><%= content_for(:title) || "Quick Cred" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= yield :head %>
      <link rel="manifest" href="/manifest.json">
      <link rel="icon" href="/icon.png" type="image/png">
      <link rel="icon" href="/icon.svg" type="image/svg+xml">
      <link rel="apple-touch-icon" href="/icon.png">
      <%#= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <script src="https://cdn.tailwindcss.com"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
      
    </head>
    <body class="flex h-screen bg-gray-50">
      <%= render "layouts/master_sidebar" %>
    <div class="flex-1 flex flex-col">

      <%= render "layouts/master_navbar" %>

      <%= yield %>
    </div>
      <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 hidden lg:hidden"></div>

    </body>

    <%# <script>
      const menuBtn = document.getElementById('menu-Btn');
      const sidebar = document.getElementById('sidebar');
      const overlay = document.getElementById('overlay');

      menuBtn.addEventListener('click', () => {
        sidebar.classList.toggle('-translate-x-full');
        overlay.classList.toggle('hidden');
      });

      overlay.addEventListener('click', () => {
        sidebar.classList.add('-translate-x-full');
        overlay.classList.add('hidden');
      });
    </script> %>
  </html>